In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_natural_disasters_in_the_United_States'

In [3]:
r = requests.get(url)

In [4]:
r.status_code

200

In [5]:
soup = BeautifulSoup(r.text)

In [6]:
soup.title.string

'List of natural disasters in the United States - Wikipedia'

In [7]:
tt = soup.find_all('table')
len(tt)

11

In [8]:
tables = pd.read_html(url)
df = tables[2]
df.head()

,Year,Disaster,Death toll,Damage costUS$,Main article,Location,Notes
0,2021,Wildfire,2,$2.3 million,2021 Kansas wildfire outbreak,Kansas,"On December 15, 2021, a wildfire siege began i..."
1,2021,Tornado,90,$3.9 billion,"Tornado outbreak of December 10–11, 2021","Kentucky, Illinois, Tennessee, Missouri, Arkansas",A rare late-season tornado outbreak devastated...
2,2021,Hurricane,115,$65.25 billion,Hurricane Ida,"United States (especially in Louisiana, New Je...",After causing widespread destruction along the...
3,2021,Winter storm,237,≥ $196.5 billion[6][5],"February 13–17, 2021 North American winter storm","United States (especially in Texas, northern M...",While the storm was widespread across the U.S....
4,2020,Wildfire,47,≥$19.884 billion,2020 Western United States wildfire season,Western United States,One of the most destructive wildfire seasons r...